:root {
  --accent-color: #2196f3;
  --text-color-black: #212121;
  --text-color-gray: #757575;
  --white-color: #ffffff;
  --absolute-black: #000000;
  --grid-row-gap: 30px;
  --grid-column-gap: 30px;
  --bg-gradient: linear-gradient(to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)) ;
}

body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  color: var(--text-color-gray);
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.header {
  background-color: var(--white-color);
  border-bottom: #ECECEC 1px solid;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header__list {
  margin-left: auto;
  list-style: none;
  display: flex;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header__item {
  margin-right: 50px;
}

.header__item:last-child {
  margin-right: 0;
}

.header__address {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--text-color-gray);
  align-items: center;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header__address:hover,
.header__address:focus {
  color: var(--accent-color);
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.logo {
  margin-right: 93px;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  color: var(--absolute-black);
}

.logo__accent {
  color: var(--accent-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 0.5s, visibility 0.5s;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.confirmation {
  padding-left: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.confirmation-input__checkbox {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  appearance: none;
}

.confirmation__icon {
  width: 16px;
  height: 15px;
  margin-right: 7px;
  background-origin: border-box;
  border: 2px solid rgb(33, 33, 33);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: baseline;
}

.confirmation-input__checkbox:checked + .confirmation__icon {
  opacity: 1;
  border: none;
  background-color: #2196f3;
}

.confirmation {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.confirmation__agreement {
  text-decoration-line: underline;
  color: #2196F3;
  display: flex;
  padding-left: 3px;
}

.section__title-clients {
  margin-bottom: 30px;
  margin-top: 60px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
@media screen and (min-width: 1200px) {
  .section__title-clients {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.client__item {
  margin: 15px;
}
@media screen and (max-width: 767px) {
  .client__item {
    width: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .client__item {
    width: calc((100% - 90px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .client__item {
    width: calc(100% - 30px);
  }
}

.client__list {
  display: flex;
  justify-content: center;
  margin: -15px;
}
@media screen and (max-width: 1199px) {
  .client__list {
    flex-wrap: wrap;
  }
}

.clients {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  color: inherit;
}
.clients:hover, .clients:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client__logo {
  fill: currentColor;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.container__clients {
  margin-right: auto;
  margin-left: auto;
  padding-top: 94px;
  padding-bottom: 94px;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container__clients {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container__clients {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container__clients {
    width: 1200px;
  }
}

.details__section {
  background-color: var(--white-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .details__section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .details__section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.details__item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .details__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .details__item {
    width: calc((100% - 90px) / 4);
  }
}

.details__item:last-child {
  margin-right: 0;
}

.details__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  list-style: none;
  padding-left: 0px;
}

.details__title {
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--text-color-black);
  margin-bottom: 10px;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (min-width: 480px) {
  .details__title {
    text-align: center;
  }
}

.details__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--text-color-gray);
}

.section__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color-black);
  margin-bottom: 50px;
}
@media screen and (min-width: 480px) {
  .section__title {
    text-align: center;
  }
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2F303A;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer {
    text-align: left;
  }
}

.footer__logo {
  display: inline-block;
  font-family: Raleway, serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  color: var(--white-color);
  margin-bottom: 20px;
}

.footer__icon-social {
  padding-right: 10px;
}

.footer__team-social {
  display: flex;
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  list-style: none;
  margin-left: 0px;
  margin-right: 0px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  fill: #FFFFFF;
  background: rgba(255, 255, 255, 0.1);
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__team-social:hover, .footer__team-social:focus {
  background-color: #2196F3;
  fill: #FFFFFF;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.container__footer-social {
  display: flex;
  align-items: baseline;
}

@media screen and (max-width: 1199px) {
  .footer__flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    column-gap: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__flex {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
    justify-content: center;
  }
}

.footer--main {
  text-align: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .footer--main {
    text-align: left;
  }
}

.join__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .join__list {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .join__list {
    margin-left: 70px;
    align-items: flex-start;
  }
}

.footer__team-social-items {
  display: flex;
  align-items: center;
  list-style: none;
  margin-left: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  color: #FFFFFF;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Footer address */
.address__list {
  list-style: none;
  padding-left: 0;
}

.address__item {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  font-style: normal;
  color: var(--white-color);
  margin-bottom: 9px;
}

.address__item:last-child {
  margin-bottom: 0px;
}

.address__link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.address__link:hover, .address__link:focus {
  color: var(--accent-color);
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.join {
  width: 145px;
  height: 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}

@media screen and (max-width: 1199px) {
  .footer--form {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer--form {
    align-items: flex-end;
    margin-left: 93px;
  }
}

.footer__form-label {
  display: block;
  margin-bottom: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer__form-input {
  width: 100%;
  height: 50px;
  margin-top: 20px;
  padding-left: 16px;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2F303A;
}
@media screen and (min-width: 480px) {
  .footer__form-input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__form-input {
    width: 358px;
  }
}

.footer__form-button {
  width: 200px;
  height: 50px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-top: 20px;
}
@media screen and (min-width: 1200px) {
  .footer__form-button {
    margin-left: 12px;
  }
}

.footer__form-icon {
  fill: #fff;
  margin-left: 10px;
  vertical-align: middle;
}

.form__field {
  position: relative;
  left: 0;
  top: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.form__field-label {
  display: block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.form__field-input {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  width: 100%;
  padding: 11px 12px 11px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__field-input:hover,
.form__field-input:focus {
  color: #2196F3;
  border: 1px solid #2196F3;
  border-radius: 4px;
}

.form__field-input:hover + .form__field-icon,
.form__field-input:focus + .form__field-icon,
.form__field-input:active + .form__field-icon {
  fill: #2196F3;
}

.form__field-inner {
  position: relative;
  margin-bottom: 10px;
}

.form__field-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: CurrentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #212121;
  padding-right: 15px;
  width: 30px;
  height: 12px;
}

.form__field-texarea {
  resize: none;
  padding: 12px 16px;
  margin-bottom: 20px;
  height: 120px;
}

.form-field__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 40px;
  width: 200px;
  height: 50px;
  padding: 10px 52px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  cursor: pointer;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field__button:focus,
.form-field__button:active {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.header {
  background-color: var(--white-color);
  border-bottom: #ECECEC 1px solid;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header__list {
  margin-left: auto;
  list-style: none;
  display: flex;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header__item {
  margin-right: 50px;
}

.header__item:last-child {
  margin-right: 0;
}

.header__address {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--text-color-gray);
  align-items: center;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header__address:hover,
.header__address:focus {
  color: var(--accent-color);
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__section {
  background-color: #2F303A;
  text-align: center;
  padding-top: 118px;
}
@media screen and (min-width: 480px) {
  .hero__section {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .hero__section {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__section {
    width: 1200px;
  }
}

.hero__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media screen and (max-width: 1199px) {
  .hero__title {
    font-size: 26px;
    line-height: 1.61;
    padding-bottom: 30px;
  }
}
.hero__btn {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  color: #ffffff;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  cursor: pointer;
  margin-bottom: 118px;
}
.hero__btn__btn:hover, .hero__btn__btn:focus {
  background-color: #188ce8;
  color: #ffffff;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-mail {
  margin-right: 10px;
  fill: currentColor;
}
.icon-mail:hover, .icon-mail:focus {
  color: var(--accent-color);
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-telefon {
  margin-right: 10px;
  fill: currentColor;
}
.icon-telefon:hover, .icon-telefon:focus {
  color: var(--accent-color);
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.details__icon-sputnik {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F5F4FA;
  margin-bottom: 30px;
  border-radius: 4px;
}

.details__icon-watch {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F5F4FA;
  margin-bottom: 30px;
  border-radius: 4px;
}

.details__icon-clock {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F5F4FA;
  margin-bottom: 30px;
  border-radius: 4px;
}

.details__icon-nout {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F5F4FA;
  margin-bottom: 30px;
  border-radius: 4px;
}

.details__icon-astronaut {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F5F4FA;
  margin-bottom: 30px;
  border-radius: 4px;
}

.logo {
  margin-right: 93px;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  color: var(--absolute-black);
}

.logo__accent {
  color: var(--accent-color);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  height: 581px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.modal__close-button:hover .modal__close-icon,
.modal__close-button:focus .modal__close-icon {
  fill: #2196F3;
}

.modal__close-icon {
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-icon {
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__inner {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
}

.modal__title {
  margin-bottom: 12px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.nav__list {
  list-style: none;
  display: flex;
  padding-left: 0;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__item {
  margin-right: 50px;
  color: #212121;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__list .current {
  color: var(--accent-color);
}

.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: inherit;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link.current {
  left: 0;
  bottom: 0;
  position: relative;
}

.link.current:after {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  line-height: 32px;
  background-color: #2196F3;
  border-radius: 2px;
  bottom: -32px;
}

.main__nav {
  display: flex;
  align-items: center;
  position: relative;
}

.overlay {
  max-width: 1600px;
  background-image: var(--bg-gradient), url(../images/hero-bg-mobile.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #2F303A;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .overlay {
    background-image: var(--bg-gradient), url(../images/hero-bg-2x-mob.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .overlay {
    background-image: var(--bg-gradient), url(../images/hero-bg-tablet.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-device-pixel-ratio: 2) and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-device-pixel-ratio: 2) and (min-width: 768px) and (min-resolution: 2dppx), screen and (min-resolution: 192dpi) and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi) and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-resolution: 192dpi) and (min-width: 768px) and (min-resolution: 2dppx), screen and (min-resolution: 2dppx) and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-resolution: 2dppx) and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) and (min-width: 768px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: var(--bg-gradient), url(../images/hero-bg-2x-tablet.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .overlay {
    width: 1600px;
    height: 600px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: var(--bg-gradient), url(../images/people-working.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-device-pixel-ratio: 2) and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-device-pixel-ratio: 2) and (min-width: 1200px) and (min-resolution: 2dppx), screen and (min-resolution: 192dpi) and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi) and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-resolution: 192dpi) and (min-width: 1200px) and (min-resolution: 2dppx), screen and (min-resolution: 2dppx) and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-resolution: 2dppx) and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) and (min-width: 1200px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: var(--bg-gradient), url(../images/hero-bg-2x-desktop.jpg);
  }
}

.portfolio-main {
  background-color: var(--white-color);
}

.portfolio-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* nav buttons */
.btn-list {
  display: flex;
  margin-bottom: 40px;
  flex-wrap: wrap;
  gap: 8px;
}
@media screen and (min-width: 768px) {
  .btn-list {
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .btn-list {
    margin-bottom: 60px;
  }
}

.portfolio-button {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  background-color: #f5f4fa;
  color: var(--text-color-black);
  border-radius: 4px;
  border: 1px solid #F5F4FA;
}
.portfolio-button:hover, .portfolio-button:focus {
  background-color: #2196f3;
  color: #ffffff;
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-item {
  margin-bottom: 15px;
}

/* Portfolio plates */
.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 1200px) {
  .portfolio__list {
    justify-content: center;
  }
}

.portfolio__item {
  width: 450px;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
}
@media screen and (min-width: 768px) {
  .portfolio__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__item {
    width: 370px;
  }
}
.portfolio__item:focus, .portfolio__item:hover {
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__item:nth-child(3n) {
  margin-right: 0px;
}

.portfolio__item:nth-last-child(-n+3) {
  margin-bottom: 0px;
}

.portfolio__link {
  text-decoration: none;
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-color-black);
  padding-bottom: 4px;
}

.portfolio__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: #757575;
  margin-bottom: 4px;
  list-style: none;
}

.portfolio-container {
  padding-top: 20px;
  padding-left: 24px;
  padding-bottom: 20px;
  padding-right: 24px;
  border-bottom: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 64px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__item:hover .portfolio-overlay {
  transform: translateY(0);
}

.portfolio-overlay-description {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.portfolio-list__description {
  padding-left: 24px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.portfolio-list__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
}

.team__section {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  list-style: none;
  padding-left: 0px;
}

.team__item {
  width: 100%;
  margin-left: 0;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .team__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: calc((100% - 90px) / 4);
  }
}

.team__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--text-color-black);
  margin-bottom: 10px;
}

.team__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  color: var(--text-color-gray);
  margin-bottom: 16px;
}

.team__container {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__social-items {
  display: flex;
  padding-left: 32px;
  padding-right: 32px;
}

.team__social-item:not(:last-child) {
  margin-right: 10px;
}

.team__social-item {
  list-style: none;
  display: flex;
  margin-left: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}

.team__social-link {
  display: flex;
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  list-style: none;
  margin-left: 0px;
  margin-right: 0px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  fill: #AFB1B8;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team__social-link:hover, .team__social-link:focus {
  background-color: #2196F3;
  fill: #FFFFFF;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.work__section {
  background-color: var(--white-color);
  padding-bottom: 94px;
}

.work__list {
  list-style: none;
  display: flex;
  padding-left: 0;
  margin-right: 30px;
}

.work__item {
  position: relative;
  margin-right: 30px;
}

.work__text {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 370px;
  height: 70px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  background: rgba(47, 48, 58, 0.8);
}/*# sourceMappingURL=main.css.map */