body {
    font-family: Roboto, sans-serif;
    font-style: normal;
    color: var(--text-color-gray);
    letter-spacing: 0.03em;
}



h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.container {
    margin-right: auto;
    margin-left: auto;
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
}

img {
    display: block;
}