.confirmation {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color-gray);

    @media screen and (min-width: 768px) {
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.03em;
        color: var(--text-color-gray);
        
    }

    @media screen and (min-width:1200px) {
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
        color: var(--text-color-gray);
        
    }


}

.confirmation-input__checkbox {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    appearance: none;
}

.confirmation__icon {
    width: 16px;
    height: 15px;
    margin-right: 7px;
    background-origin: border-box;
    border: 2px solid rgba(33, 33, 33, 1);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex; 
    align-items: baseline;
}

.confirmation-input__checkbox:checked+.confirmation__icon {
    opacity: 1;
    border: none;
    background-color: var(--accent-color);

}
.confirmation__agreement {
    text-decoration-line: underline;
    color: var(--accent-color);
    display: flex;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */   
    letter-spacing: 0.03em;

}
