.icon-mail {
    margin-right: 10px;
    fill: currentColor;

        &:hover,
        &:focus {
            color: var(--accent-color);
            transition: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }
}


.icon-telefon {
    margin-right: 10px;
    fill: currentColor;

    &:hover,
    &:focus {
    color: var(--accent-color);
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }
}


.details__icon-sputnik {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F5F4FA;
    margin-bottom: 30px;
    border-radius: 4px;
}

.details__icon-watch {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F5F4FA;
    margin-bottom: 30px;
    border-radius: 4px;
}

.details__icon-clock {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F5F4FA;
    margin-bottom: 30px;
    border-radius: 4px;
}

.details__icon-nout {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F5F4FA;
    margin-bottom: 30px;
    border-radius: 4px;
}

.details__icon-astronaut {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F5F4FA;
    margin-bottom: 30px;
    border-radius: 4px;
}