.overlay {
    background-image: var(--bg-gradient), url(../images/hero-bg-mob.jpg);
   background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #2F303A;
    margin-left: auto;
    margin-right: auto;
    padding-top: 118px;
    padding-bottom: 118px;

    @media screen and (min-width: 768px) {
    background-image: var(--bg-gradient), url(../images/hero-bg-tablet.jpg);
      background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #2F303A;
    margin-left: auto;
    margin-right: auto;
    }

    @media screen and (min-width: 1200px) {
    height: 600px;
    background-image: var(--bg-gradient), url(../images/hero-bg-desk.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #2F303A;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 200px;
    padding-top: 200px;
      
    }
}
