.overlay {
    max-width: 1600px;
    background-image: var(--bg-gradient), url(../images/hero-bg-mobile.jpg);
   background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #2F303A;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-bottom: 200px;

    @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image: var(--bg-gradient), url(../images/hero-bg-2x-mob.jpg);

    @media screen and (min-width: 768px) {
       background-image: var(--bg-gradient), url(../images/hero-bg-tablet.jpg); 
       @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image: var(--bg-gradient), url(../images/hero-bg-2x-tablet.jpg);
       
  } 
    }

    @media  screen and (min-width: 1200px) {
    
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: var(--bg-gradient),
        url(../images/hero-bg-desk-1x.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
  //          @media (min-device-pixel-ratio: 2),
  // (min-resolution: 192dpi),
  // (min-resolution: 2dppx) {
  //   background-image: var(--bg-gradient), url(../images/hero-bg-2x-desktop.jpg); 
        
    // }
}
  }
